#offers-page {
    padding: 100px;
    h1 {
        font-size: 3rem;
        font-weight: 700;
        color: black;
        margin-bottom: 1.5rem;
    }
    p {
        font-size: 0.9rem;
        line-height: 2;
        margin-bottom: 1rem;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
    }
    form {
        label {
            font-weight: 700;
        }
        input {
            padding: 7px;
            border: 2px #ed4852 solid;
            font-size: 1.1rem;
        }
        select {
            padding: 7px;
            border: 2px #ed4852 solid;
            font-size: 1.1rem;
        }
        button[type="submit"] {
            background: #9C1B26;
            border: none;
            padding: 21px 42px;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 0px) and (max-width: 767px) { 
  #offers-page {
      padding: 20px;
        h1 {
            font-size: 2rem;
        }
        p {
            margin-top: 7px
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) { 
    #offers-page {
        padding: 20px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
 
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
 
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 
 
}