#single-menu-page {
    padding: 100px;
    h1 {
        font-size: 3rem;
        font-weight: 700;
        color: #9C1B26;
        margin-bottom: 2rem;
    }
    .item {
        margin-bottom: 2rem;
    }
    .title {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 0.5rem;
        h4, .price {
            font-size: 1.4rem;
            font-weight: 900;
            color: #000;
        }
    }
    
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 0px) and (max-width: 767px) { 
  #single-menu-page {
      padding: 20px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) { 
    #single-menu-page {
        padding: 20px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
 
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
 
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 
 
}